.App {
  text-align: center;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 30px solid darkviolet;
  border-top: 30px solid darkviolet;
  background-color: yellow;
}

.nav-header {
  font-family: 'Lobster', cursive;
  font-size: 2.6rem;
  color: crimson;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.nav-links a {
  font-family: 'Patrick Hand', cursive;
  text-decoration: none;
  color: blue;
  font-size: 1.6rem;
  margin: 0 10px;
}

.welcome-div {
  width: 100%;
  height: 600px;
}

.welcome-image {
  width: 75%;
  border: 5px solid orange;
  border-radius: 10px;
}

.welcome-header {
  font-family: 'Kalam', cursive;
  font-size: 3.0rem;
  color: orange;
  margin-bottom: 10px;
}

.friends-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
}

.friend-card {
  width: 28%;
  font-family: 'Kalam', cursive;
  color: darkviolet;
  border: 5px solid orange;
  border-radius: 5px;
  margin: 20px 0;
  background-color: lime;
}

.new-friend-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.add-friend-header {
  font-family: 'Kalam', cursive;
  color: orange;
  font-size: 2.5rem;
  margin-top: 75px;
  margin-bottom: 0;
}

.new-friend-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  background-color: lime;
  padding: 20px 0;
  border-bottom: 30px solid crimson;
  border-top: 30px solid crimson;
  border-radius: 5px;
}

label {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.6rem;
  color: blue;
  width: 24%;
}

input {
  width: 75%;
  height: 25px;
  background-color: yellow;
  color: darkviolet;
  border-radius: 3px;
  font-size: 1.4rem;
  padding-left: 10px;
}

.friend-name-input-area, .friend-age-input-area, .friend-email-input-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
}

.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  margin: 20px auto 10px;
  border-radius: 20px;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.6rem;
  color: blue;
  background-color: orange;
  border: 2px solid blue;
}
