.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  background-color: yellow;
}

.nav-header {
  font-size: 2.2rem;
  color: blue;
  padding: 0 15px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.nav-links a {
  text-decoration: none;
  color: blue;
  font-size: 1.6rem;
  margin: 0 10px;
}

.welcome-div {

}

.welcome-header {
  font-size: 2.2rem;
}
