.App {
  text-align: center;
  background-color: blue;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 30px solid darkviolet;
  border-top: 30px solid darkviolet;
  background-color: yellow;
}

.nav-header {
  font-family: 'Lobster', cursive;
  font-size: 2.6rem;
  color: crimson;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.nav-links a {
  font-family: 'Patrick Hand', cursive;
  text-decoration: none;
  color: blue;
  font-size: 1.6rem;
  margin: 0 10px;
}

.welcome-div {

}

.welcome-header {
  font-family: 'Kalam', cursive;
  font-size: 3.0rem;
  color: orange;
}

.friends-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.friend-card {
  width: 30%;
  font-family: 'Kalam', cursive;
  color: darkviolet;
  border: 5px solid orange;
  border-radius: 5px;
  margin: 20px 0;
  background-color: lime;
}
